*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
zombieBird/.settings/
zombieBird-android/.settings/
zombieBird-android/bin/
zombieBird-desktop/.settings/
zombieBird-html/.settings/
zombieBird-android/gen/
zombieBird-desktop/bin/
zombieBird/bin/
zombieBird-android/.classpath
zombieBird-android/.project
